.contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed;
    padding: 15px;
    background-color:gray;
    color: black;
    font-style: italic;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: medium;
    font-weight: 600;
    text-align: center;
}
.menu li:first-child {
    display: block;
}
.menu li{
    display: none;
}
.responsive li {
    display: block
}
.icon {
    max-width: 150px;
    height: auto;
    float: left;
}
ul a {
    color: #5c009eff;
    font-family: 'open sans condensed', sans-serif;
    font-size: larger;
    font-weight: 800;
}
h1, h2 {
    background-color: #56b811ff;
    color: #0e0514ff;
    font-family: 'gorditas', cursive;
    text-align: center
}
footer {
    text-align: center;
}
header, footer {
    background-color: #56b811ff;
}
.motto {
    font-family: 'open sans condensed', sans-serif;
}
nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: lightgray;
}

ul, menu, .responsive {
    padding: 0
}