table {
    border: 2px solid darkgray;
    border-collapse: collapse;
    text-align: center;
    background-color: #e7ffed;
    box-shadow: 10px 10px 10px #628ca6;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
}
thead, tfoot {
    background-color: #7fb9c2;
}
.first {
    color: white;
    background-color: #628ca6;
    font-size: 14pt;
}
tr:nth-child(even) td {
    background-color: #e7f0ed;
}
tfoot {
    font-size: 10pt;
}
thead {
    font-size: 18pt;
}
td, th {
    border: 1px solid darkgray;
    padding: 10px 20px;
  }