table, thead, th, tr, td {
    font-family: Ubuntu, sans-serif;
    border: 1px solid gray;
    border-collapse: collapse;
    width: 350px;
    text-align: center;
}
table, thead, tfoot {
    background-color: #7fb9c2;
}
.first {
    color: white;
    background-color: #628ca6;
    font-size: 14pt;
}
tr:nth-child(even){
    background-color: #e7f0ed;
}
tr:nth-child(odd) {
    background-color: #e7ffed;

}
tfoot {
    font-size: 10pt;
}
thead {
    font-size: 18pt;
}
table {
    box-shadow: 5px 5px 5px #628ca6;
}
