@media only screen and (min-width: 40em) {
    .menu {
        display: flex;
    }
    .menu li:first-child {
        display: none;
    }
    .menu li {
        display: block;
        flex: 1 1 100%;
        text-align: center;
    }
    .woman {
        max-height: 250px;
        max-width: 350px;
        float: right;
    }
    .map {
        display: block;
        width: 200px;
        margin: 25px 10px;
        float: left;
    }
    .banner {
        font-size: 1.5;
        line-height: 5rem;
    }
    .forecast {
        display: block;
        padding-bottom: 1rem;
    }
    .forecast h2 {
        text-align: center;
    }
    .weathertable {
        border-collapse: collapse;
        border-spacing: 0;
        background-color: #56b811ff;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .weathertable td {
        font-family: 'open sans condensed', sans-serif;
        font-size: 1rem;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }
    .weathertable th {
        font-family: 'open sans condensed', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }
    .cell {
        text-align: center;
        vertical-align: top;
    }
}