.contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed;
    padding: 15px;
    background-color:gray;
    color: black;
    font-style: italic;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: medium;
    font-weight: 600;
    text-align: center;
}
.menu li:first-child {
    display: block;
}
.menu li{
    display: none;
}
.responsive li {
    display: block
}
.icon {
    max-width: 150px;
    height: auto;
    float: left;
}
ul a {
    color: #5c009eff;
    font-family: 'open sans condensed', sans-serif;
    font-size: larger;
    font-weight: 800;
}
h1, h2 {
    background-color: #56b811ff;
    color: #0e0514ff;
    font-family: 'gorditas', cursive;
    text-align: center
}
footer {
    text-align: center;
}
header, footer {
    background-color: #56b811ff;
    max-width: 100%;
}
.motto {
    font-family: 'open sans condensed', sans-serif;
    text-align: center;
}
nav {
    margin: 0 auto;
    background-color: lightgray;
}

ul, menu, .responsive {
    padding: 0
}
.active {
    border: solid 1px;
    background-color: gray;
}
.hero { 
    width: 100%;
    height: 300px;
    margin: 10px auto;
}
a:hover {
    background-color: gray;
   }
   .contact {
       padding: 20px;
   }
.woman {
    height: 250px;
    margin: 10px auto;
}
.article {
    margin: auto;
    padding: 1em;
}
.hike {
    text-align: center;
}
.herodiv {
    position: relative;
    margin: 10px auto;
}
.overlay {
    position: absolute;
    top: 1rem;
    left: 2rem;
    background-color: rgba(86, 184, 17, .8);
    border: 1px solid black;
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3px;
    grid-auto-rows: 20px;
    grid-template-areas: "a a" "a a" "b c" "d e" "f g" "h i" "j k";
    border-radius: 20px;
}
.weather {
    grid-area: a;
    text-align: center;
    text-decoration: underline black;
}
.current {
    grid-area: b;
    text-align: right;
}
.cuvalue {
    grid-area: c;
    margin: 0px 10px;
}
.high {
    grid-area: d;
    text-align: right;
}
.hivalue {
    grid-area: e;
    margin: 0px 10px;
}
.wind {
    grid-area: f;
    text-align: right;
}
.wivalue {
    grid-area: g;
    margin: 0px 10px;
}
.humidity {
    grid-area: h;
    text-align: right;
}
.huvalue {
    grid-area: i;
    margin: 0px 10px;
}
.speed {
    grid-area: j;
    text-align: right;
}
.spvalue {
    grid-area: k;
    margin: 0px 10px;
}
.article {
    height: 450px;
    margin-bottom: 50px;
}
.contact {
    margin-top: 10px;
    text-align: center;
} 
.map {
    display: none;
}
.banner {
    display: flex;
    justify-content: center;
    background-color: #ffc922;
    color: black;
    text-align: center;
    font-size: 12pt;
    margin: auto;
    line-height: 1.75rem;
}
.forecast {
    display: none;
}
/*------- Home page ------------*/
div.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
}
div.cards h2 {
    font-size: 2rem;
    margin-bottom: .5rem;
}
div.cards h3 {
    font-style: italic;
    margin-top: .5rem;
}
div.cards section {
    border-radius: 1em;
    margin: .5rem;
    padding: 1rem;
    background-color: #56b811ff;
    box-shadow: 0px 2px 7px rgba(0,0,0.0.4);
}
div.cards img {
    width: 100%;
}
.main {
    max-width: 80%;
}
.main h4 {
    font-size: 3rem;
    margin-bottom: .5rem;
}
.main h5 {
    font-size: 2.5rem;
    margin-top: .5rem;
}/* --------Storm Center--------- */

main.bg {
    background-color: lightgray;
    padding: 10px 8px 50px 8px;
}
/*--------Form--------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem 2%
}
form legend {
    color: #56b811ff;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #56b811ff;
}

form input.sub {
    border: none;
    background-color: #56b811ff;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}
.scale {
    padding-top: 30px;
    display: flex;
    align-items: center;
}#ratingvalue {
	margin: 0 15px;
}
form textarea {
    width: 96%;
}
/*-------------Thank you----------*/
main.center {
    text-align: center;
    background-color: lightgray;
    padding: 10px 8px 50px 8px;
}
/*-----------------Gallery---------------*/
.gallery h1 {
    padding-left: 20px;
}
.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    justify-content: center;
    margin: 10px;
}
.grid-item {
    background-color: #56b811ff;
    border: 1px solid black;
    overflow: hidden;
    border-radius: .9rem;
}
figure {
    margin: 0px;
}
figure img[data-src] {
    filter: blur(0.2em);
}
figure img {
    filter: blur(0em);
    transition: filter 0.5s;
}
figcaption {
    padding: .5rem 1rem;
}