/*------colors------*/
head {
    color: #555b6e;
    color: #89b0ae;
    color: #bee3db;
    color: #faf9f9;
    color: #ffd6ba;
}
/*------main css-------*/
.menu li:first-child {
    display: block;
}
.menu li{
    display: none;
}
.responsive li {
    display: block;
}
header, footer {
    max-width: 100%;
    text-align: center;
    background-color: #bee3db;
    padding: 1em;
}.button {
    color: #555b6e;
    text-align: center;
    padding: 10px;
}
nav {
    text-align: center;
}
.contact {
    text-align: center;
}
html {
    background-color:#ffd6ba;
    font-family: 'Kiwi Maru', serif;
}
p {
    font-family: 'Akaya Kanadaka', cursive;
}
/*--------weather--------*/
.overlay{
    background-color: #bee2db;
    border: 1px solid black;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3px;
    grid-auto-rows: 20px;
    grid-template-areas: "a a" "a a" "b c" "d e" "f g" "h i";
    border-radius: 20px;
    max-width: 30%;
    margin-left:37%;
}
.weather {
    grid-area: a;
    text-align: center;
    text-decoration: underline black;
}
.current {
    grid-area: b;
    text-align: right;
}
.cuvalue {
    grid-area: c;
    margin: 0px 10px;
}
.high {
    grid-area: d;
    text-align: right;
}
.hivalue {
    grid-area: e;
    margin: 0px 10px;
}
.humidity {
    grid-area: f;
    text-align: right;
}
.huvalue {
    grid-area: g;
    margin: 0px 10px;
}
.speed {
    grid-area: h;
    text-align: right;
}
.spvalue {
    grid-area: i;
    margin: 0px 10px;
}
/*-----------Join----------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
 
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: black;
}

form input.sub {
    border: none;
    background-color: black;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}
.scale {
    padding-top: 30px;
    display: flex;
    align-items: center;
}#ratingvalue {
	margin: 0 15px;
}
form textarea {
    width: 96%;
}
.personal, .member {
    background-color: #bee3db;
}
.business {
    background-color: #faf9f9;
}
/*----------Thank You---------*/
main.thankyou {
    text-align: center;
    background-color: lightgray;
    padding: 10px 8px 50px 8px;
}
/*-------City----------*/
.city {
    max-width: 100%;
    text-align: center;
}
/*--------Directory--------*/
div.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
    transition-property: transform;
}
.main {
    max-width:100%;
    text-align: center;
    text-decoration: underline;
}